<h1>Editing gemini config part</h1>
<%= turbo_frame_tag dom_id(@gemini_config_part.gemini_config, :parts) do %>
  <div class="box">
    <%= render "form", gemini_config_part: @gemini_config_part %>
    <br>
    <div>
      <%= link_to "Show this gemini config part", @gemini_config_part %> |
      <%= link_to "Back to gemini config parts", gemini_config_gemini_config_parts_path(@gemini_config_part.gemini_config) %>
    </div>
  </div>
<% end %>
