<section class="section">
  <div class="container">
    <%= render "shared/hero", title: "New Part" %>
    <%= turbo_frame_tag dom_id(@gemini_config, :new_part) do %>
      <%= render "form", gemini_config_part: @gemini_config_part %>
    <% end  %>
  </div>
</section>