<section class="section">
  <div class="container">
    <%= render "shared/hero", title: "Editing convesation content" %>
    <%= turbo_frame_tag @conversation_content.conversation, :contents do %>
      <%= render "form", conversation_content: @conversation_content %>
    <% end %>
  </div>
</section>
