<%= render 'shared/hero', title: "New Conversation Content" %>
<section class="section">
  <div class="container">
    <%= turbo_frame_tag dom_id(@conversation, :new_content) do %>
      <%= render "form", conversation_content: @conversation_content %>
      <br>
    <% end %>
  </div>
</section>