  
<div class="section">
  <div class="container">
    <%= turbo_frame_tag dom_id(@package_version.package, :versions) do %>
      <%= render "shared/hero", title: "Editing package version" %>
      <%= render "form", package_version: @package_version %>
    <% end %>
  </div>
</div>
