<section class="section">
  <div class="container">
    <%= turbo_frame_tag dom_id(@package_version.package, :versions) do %>
      <%= render "shared/hero", title: @package_version.package.name %>
      <div class="box">
        <%= render @package_version %>
      </div>
    <% end %>
  </div>
</section>