<%= render "shared/hero", title: "Editing conversation" %>
<section class="section">
  <div class="container">
    <%= render "form", conversation: @conversation %>
    <br>
    <div>
      <%= link_to "Show this conversation", @conversation %> |
      <%= link_to "Back to conversations", conversations_path %>
    </div>
  </div>
</section>
