<p style="color: green"><%= notice %></p>
<section class="section">
  <div class="container">
    <%= render "shared/hero", title: "Conversations" %>

    <div id="conversations">
      <% @conversations.each do |conversation| %>
        <div class="box">
          <%= render conversation %>
          <p>
            <%= link_to "Show this conversation", conversation %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</section>
