<%= render 'shared/hero', title: "New Conversation" %>

<section class="section">
  <div class="container">
    <%= render "form", conversation: @conversation %>

    <br>

    <div>
      <%= link_to "Back to conversations", conversations_path %>
    </div>
  </div>
</section>
