<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>
<section class="section">
  <div class="container">
    <%= render "shared/hero", title: "Users" %>
    <% @users.each do %>
      <div class="box">
        <%= render _1 %>
        <p>
          <%= link_to "Show this user", _1 %>
        </p>
      </div>
    <% end %>
  </div>
</section>