<h1>Editing gemini config</h1>

<%= render "form", gemini_config: @gemini_config %>

<br>

<div>
  <%= link_to "Show this gemini config", @gemini_config %> |
  <%= link_to "Back to gemini configs", gemini_configs_path %>
</div>
