<p style="color: green"><%= notice %></p>
<section class="section">
  <div class="container" id="games">
    <%= render "shared/hero", title: "Games" %>
    <% @games.each do |game| %>
      <div class="box">
        <%= render game %>
        <p>
          <%= link_to "Show this game", game %>
        </p>
      </div>
    <% end %>
  </div>
</section>
