<section class="section">
  <div class="container">
    <%= render "shared/hero", title: "New Game" %>
    <%= render "form", game: @game %>
    <br>
    <div>
      <%= link_to "Back to games", games_path %>
    </div>
  </div>
</section>
