<section class="section">
  <div class="container">
    <%= render "shared/hero", title: "New Game", link: games_path, link_text: "Back to games" %>
    <%= render "form", game: @game %>
  </div>
</section>
