<div id="<%= dom_id game_version %>">
  <p>
    <strong>Game:</strong>
    <%= game_version.game_id %>
  </p>

  <p>
    <strong>Scripts:</strong>
    <%= game_version.scripts %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= game_version.level %>
  </p>

</div>
