<h1>Editing game version</h1>

<%= render "form", game_version: @game_version %>

<br>

<div>
  <%= link_to "Show this game version", @game_version %> |
  <%= link_to "Back to game versions", game_game_versions_path(@game_version.game) %>
</div>
