<%= turbo_frame_tag dom_id(@game_version.game, :versions) do %>
  <section class="section">
    <div class="container">
      <%= render "shared/hero", title: "Editing game version" %>
      <%= render "form", game_version: @game_version %>
    </div>
  </section>
<% end %>
