<section class="section">
  <div class="container">
    <%= turbo_frame_tag dom_id(@game, :versions) do %>
      <%= render "shared/hero", title: "Game Versions" %>
      <% @game_versions.each do |game_version| %>
        <div class="box">
          <%= render game_version %>
          <p>
            <%= link_to "Show this game version", game_version %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
