<p style="color: green"><%= notice %></p>
<section class="section">
  <div class="container">
    <%= render "shared/hero", title: @game_version.game.name %>
    <%= turbo_frame_tag dom_id(@game_version.game, :versions) do %>
      <div class="box">
        <%= render @game_version %>
      </div>
    <% end %>
  </div>
</section>
